.page-header {
  border-bottom: 1px solid #ececec;
  background-color: $brand-background-main;

  &__wrap {
    display: flex;
    align-items: center;
    height: 60px;

    @media screen and(max-width: 767px) {
      justify-content: space-between;
    }

    @include tablet {
    height: 80px;
  }
  }
}
