.team {
  background-color: #f5f4fa;

  &__set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
    list-style: none;

    @media screen and (min-width: 1200px) {
      column-gap: 30px;
    }
  }

  &__item {
    border-radius: 0px 0px 4px 4px;

    background-color: $brand-background-main;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);

    width: 100%;

    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 90px) / 4);
    }
  }
}

.person-card {
  padding: 30px 0px;

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    text-align: center;
    margin-bottom: 10px;

    color: $brand-color-second;
  }
  &__job {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.person-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 32px 0px;

  &__item:not(:first-child) {
    margin-left: 10px;
  }

  &__link {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: #afb1b8;
    background: $brand-background-main;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon {
    width: 20px;
    height: 20px;

    fill: currentColor;
  }

  &__link:hover,
  &__link:focus {
    background: $brand-accent;
    color: $brand-background-main;
  }
}
